<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <style>
     #logo{
         margin:10px;
     }
     .item{
         border: 1px solid #f00;
         margin: 10px;
         padding: 10px;
      }

     #profile {
         border: 1px solid #ccc;
         width: 200px;
         height: 200px;
         background-color: #e3ea9a;
         padding:10px;
         margin:10px;

         position: fixed;
         top: 30px;
         right: 0px;
     }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <h1>hello, {{ name }}</h1>
      <div>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
      </div>
      <div>
        <span class="item">this is span</span>
        <span class="item">this is span</span>
        <span class="item">this is span</span>
        <span class="item">this is span</span>
      </div>
      <div style="height:220px; background-color:#999">
      <div id="profile">
      </div>
      </div>
      <img id="logo" src="/static/logo.jpeg" />
    </div>
    <div>
      <video src="">
      </video>
    </div>
    <p style="height:2000px;"></p>
        <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </body>
</html>
